*.pyc
*agent0.json
Bipedal_Locomotion_Task_Planner/Navigation/Joans_Vis_Studio.code-workspace
*.code-workspace
**/2_level_abs/
**/2_level_finer_abs/
**/Backup/
**/Legacy/
*.slugsin
*.structuredslugs
**/Integration/
**/Examples/
**/Backup/
*.json
**/backup/